#tablaMascotas
{ 
    background-color: gainsboro;
    border-collapse: collapse;  /*Los bordes de la tabla se pegarán (mejor aspecto) */
    border: 1px solid rgb(88, 17, 56);
    padding: 10px;
    padding-left: 20px;
    font-family: 'Courier New', Courier, monospace;/*fuente*/
    text-align: center;/*alineacion del texto*/
    width: 100%; /*cuanto quiero que ocupe de la pantalla 50%*/
    /*margin: 25px 50px 75px 100px; ARRIBA, DERECHA, ABAJO, IZQUIERDA*/
   
    justify-content: center;
    z-index: -1; 
}

#tablaCoincidencias
{ 
    background-color: gainsboro;
    border-collapse: collapse;  /*Los bordes de la tabla se pegarán (mejor aspecto) */
    border: 1px solid rgb(88, 17, 56);
    padding: 10px;
    padding-left: 20px;
    font-family: 'Courier New', Courier, monospace;/*fuente*/
    text-align: center;/*alineacion del texto*/
    width: 100%; /*cuanto quiero que ocupe de la pantalla 50%*/
    /*margin: 25px 50px 75px 100px; ARRIBA, DERECHA, ABAJO, IZQUIERDA*/
   
    justify-content: center;
    z-index: -1; 
}

tr:nth-child(even)
{
    background-color: black;
    color: gold;
}
#th, td
{
    border-collapse: collapse;  /*Los bordes de la tabla se pegarán (mejor aspecto) */
    border: 1px solid rgb(88, 17, 56);
    padding: 10px;
    padding-left: 20px;
    
}


#contenedorAgregar
{
    justify-content: space-between;
    /*display: flex;*
    position: absolute;
    position: fixed;
    flex-wrap: wrap; 
    
    padding-left: 10px;
    background: whitesmoke;
    /*border-radius:10px;*/
    width: 50%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    
    top:25%; /*a 25 de arriba*/ 
    left:25%; /*a 25 de la izquierda*/
    right:25%;/*same derecha*/
    /*z-index: 998;*/
}

#divUser
{
    width: 100%;
}

#cerrar
{
    background-color: red;
    border: 1px solid black;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 5%;
    /*
    border-radius:5px;*/
}


/*nota manejar la posicion desde los div, lo demas desde el boton*/
#divCerrar
{
    display: flex;
    justify-content: flex-end;
}

#btnModificar
{
    background-color: limegreen;
    border: 1px solid black;
    color: white;
    width: 30%;
    text-align: center;
    font-size: 16px;
    /*margin: 4px 2px;*/
    cursor: pointer;
    /*width: 10%;
    border-radius:5px;*/
}
#btnGuardar
{
    background-color: limegreen;
    border: 1px solid black;
    color: white;
    width: 30%;
    text-align: center;
    font-size: 16px;
    /*margin: 4px 2px;*/
    cursor: pointer;
    /*width: 10%;
    border-radius:5px;*/
}

#divbotones
{
    justify-content: space-between;
    flex-direction: row;
}

#btnEliminar
{
    background-color: red;
    border: 1px solid black;
    color: white;
    width: 30%;
    text-align: center;
    font-size: 16px;
    /*margin: 4px 2px;*/
    cursor: pointer;
    /*width: 10%;
    border-radius:5px;*/
}

#loader
{
    /*background-color: black;*/
    opacity: 0.5;
    flex-wrap: wrap; 
    position: fixed; 
    
    top:10%;
    
    text-align: center;
    width: 100%;
    z-index: 999;
}

#h1
{
    width: 100%;
    left: 25%;
    right: 25%;
    font-family: 'Courier New', Courier, monospace;/*fuente*/
    text-align: center;
    background-color: darkgoldenrod;
}

